@import "tailwindcss";

@theme {
  --color-primary: #FF6B35;
  --color-secondary: #004E89;
  --color-error: #E63946;
  --color-success: #06D6A0;
  --color-warning: #F4A261;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fb;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

aside::-webkit-scrollbar {
  width: 3px;
}
aside::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
